{% extends "layouts/admin.html.twig" %}

{% block title "Gestion des contacts" %}

{% block content %}

    <div class="container no-padding">
        <h1 class="h3 mb-5">Gestion des contacts</h1>
        <div class="contacts">
            {% for contact in contacts %}
                <div class="contact">
                    <div class="contact-object">{{ contact.object }}</div>
                    <a 
                        style="color: #212529;"
                        onclick="getContact(this,event)"
                        href="{{ path('admin_api_get_contact', { id: contact.id } ) }}"
                    ><i class="fas fa-plus"></i></a>
                </div>
            {% endfor %}
        </div>
        <div class="message-container">
            <div class="message" data-message>
            </div>
        </div> 
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/admin-contact.js') }}"></script>
{% endblock %}