<div data-aos="fade-up" class="dialog-container hidden">
    <div class="dialog-box">
        <div class="dialog-header">
            <span class="dialog-title"></span>
            <span class="dialog-close" id="close-dialog" onclick="openModal(event)">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="dialog-body">
            <div class="dialog-project">
                <img 
                src="" 
                alt="Image du projet" 
                srcset=""
                class="img-dialog"
                >
                <div class="project-content">                    
                    <div class="dialog-details"></div>
                    <div>
                        <ul class="dialog-techno"></ul>
                    </div>
                    <a href="http://" class="dialog-link">Voir le projet</a>
                </div>
            </div>
        </div>
        <div class="dialog-footer">
            <button class="btn btn-secondary" onclick="openModal(event)">Fermer</button>
        </div>
    </div>
</div>