<div class="masthead">
    <div class="text-box">
        <h1 class="masthead-name"> Frédérick AGATHE </h1>
        <h2 class="masthead-title mb-5">Développeur web junior</h1>
        <a href="#a-propos" class="btn-masthead">
            {# <i class="icofont-rounded-down"></i> #}
            <span>En savoir plus</span>
            {# <i class="icofont-rounded-down"></i> #}
        </a>
    </div>
</div>