<!doctype html>
<html lang="fr">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes, shrink-to-fit=no">
		<meta name="description" content="CV développeur Web : création et développement de sites et d'applications Web. HTML5, CSS3, JQuery, Javascript, Bootstrap, PHP, Symfony, ...">
		<meta name="Keywords" content="Frédérick AGATHE, développeur, développeur web, développeur web Paris, développeur web île-de-france, web, CV, site CV, site, application, application web, html5, css3, jquery, php, javascript">
		<meta name="robots" content="index,follow,all">
		<meta name="author" content="Frédérick AGATHE">
		<meta
		name="google-site-verification" content="fH4YZu6ohhwsaYnR9reZGstqt6dClSoInCyke7Y1_eQ">

		<!-- Logo du site -->
		<link rel="icon" href="./images/logo.png" type="image/png">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		{# <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-75ZJ4S8NBF"></script>
		    <script>
		        window.dataLayer = window.dataLayer || [];
		
		        function gtag() {
		            dataLayer.push(arguments);
		        }
		        gtag('js', new Date());
		
		        gtag('config', 'G-75ZJ4S8NBF');
		    </script> #}
		<!-- Main Js File --><script src="./js/main.js"> </script>

		<!-- Aos library Js File -->
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="css/styles.css">
		<link
		rel="stylesheet" href="css/app.css">
		{#
		    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"> #}
		<link rel="stylesheet" href="css/icofont/icofont.min.css"> {% block stylesheets %}{% endblock %}
		<title>
			{% block title %}{% endblock %}
			Frédérick AGATHE, développeur web junior</title>
	</head>

	<body onscroll="stickHeader();displayScrollTop();" onload="stickHeader();displayScrollTop();">
		<section class="wrapper">

			{% include "elements/navbar.twig" %}
			{% block masthead %}{% endblock %}

			<section class="page-section"> {% block content %}{% endblock %}
				</section>

				{% include "elements/footer.twig" %}

			</section>

			<div id="scrollTop" class="hidden" onclick="scrollToTop();">
				<i class="icofont-rounded-up"></i>
			</div>

			<div class="flash"></div>

			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

			<!-- Axios Ajax library Js File -->
			<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

			{% block javascripts %}{% endblock %}
		</body>

	</html>
