.page-404 {
    height: calc(100vh - 65px);
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .35) 33.33%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .75) 100%), url('../images/banner.jpg');
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.not-found-title {
    font-size: 100px;
}

.not-found-msg {
    font-size: 30px;
}

.not-found-code {
    font-size: 20px;
}

.not-found-link {
    font-size: 18px;
    text-decoration: underline;
}

.page-404 .row {
    padding: 0 15px;
}