<footer class="footer">
    <div class="container footer-container">
        <div class="socials">
            <a href="https://fr.linkedin.com/in/fr%C3%A9d%C3%A9rick-agathe-027553128" title="Accéder à mon linkedin" class="social-link" target="_blank">
                <i class="icofont-linkedin"></i>
            </a>
            <a href="https://github.com/fredsko77" title="Accéder à mon github" class="social-link" target="_blank">
                <i class="icofont-github"></i>
            </a>
            <a href="/mon-cv" title="Télécharger mon CV" class="social-link" target="_blank">
                <i class="icofont-file-pdf"></i>
            </a>
        </div>
        <div class="copyright">
            <p>
                Frédérick AGATHE
                <strong>
					&copy;
				</strong> 2021
            </p>
            <small class="text-center">Tous droits réservés</small>
        </div>
    </div>
</footer>