<footer class="footer bg-light">
    <div class="credits">
       <h5>
           &copy; Copyright <strong><span>Frédérick</span></strong>. Tous droits réservés. 
       </h5>        
        <h6 class="copyright">Designed by AGATHE Frédérick</h6>
   </div>
   <div class="social">
       <h5 class="social-title">Liens sociaux</h5>
        <div class="social-links">
            <a 
                class="social-link" 
                target="_blank" 
                href="https://github.com/fredsko77"
            >
                <i class="fab fa-github"></i>
            </a>
            <a 
                class="social-link" 
                target="_blank" 
                href="https://www.linkedin.com/in/fr%C3%A9d%C3%A9rick-agathe-027553128/"
            >
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
   </div>
</footer>