<header class="header">
	<a href="/" class="navbar-brand">
		<img src="./images/logo.png" alt="Logo de mon site" srcset="./images/logo.png">
	</a>
    <a class="menu-hamburger" type="button" onclick="displayMenuMobile(this);" aria-close="false">
        <i class="icofont-navigation-menu"></i>
    </a>
    <ul class="nav-menu" id="menu-mobile">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="icofont-home"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#a-propos" class="nav-link">À propos</a>
        </li>
        <li class="nav-item">
            <a href="#competences" class="nav-link">Compétences</a>
        </li>
        <li class="nav-item">
            <a href="#realisations" class="nav-link">Réalisations</a>
        </li>
        <li class="nav-item">
            <a href="#me-contacter" class="nav-link">Contact</a>
        </li>
    </ul>
</header>
