<header>
	<ul class="menu">
		<li class="item">
            <a href="/">
			    Revenir sur le site
            </a>
		</li>
		<li class="item">
			<a href="/admin/contacts">
                Contacts
            </a>
		</li>
		<li class="item">
            <a href="/admin/projets">
			    Projets
            </a>
		</li>
	</ul>
    <span>
        <a href="/logout" onclick="localStorage.removeItem('token')">Déconnexion</a>
    </span>
</header>
