{% extends "layouts/admin.twig" %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Nouveau projet</h1>
        {% include "admin/projects/_form.twig" %}
    </div>
{% endblock %}

